.paginator {
    width: 500px;
    margin-top: 5px;
    position: relative;
}

.paginator button {
    border: 1px solid red;
    padding: 3px;
    border-radius: 2px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.pageNumber {
    font-weight: bold;
    font-size: 15px;
}

button {
    height: 30px;
}

.buttonNext {
    position: absolute;
    left: 300px;
    top: 0px;
    border-radius: 3px;
    background-color: seashell;
}

.buttonPrev {
    position: absolute;
    left: 240px;
    top: 0px;
    border-radius: 3px;
    background-color: lemonchiffon;
}

.sortBlock select {
    height: 25px;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-right: 3px;
}

.sortBlock .sortButton {
    background-color: lemonchiffon;
    color: black;
    height: 30px;
    width: 100px;
}