.login {
    position: relative;
}
.loginForm {
    position: absolute;
    width: 300px;
    margin-right: 20px;
    top: -630px;
    right: 50px;
    background-color: cornsilk;
    padding-bottom: 20px;
}

.login h2 {
    text-align: center;
}
.isLoginedCheck{
    position: absolute;
    right: 10px;
    top:30px;
    padding: 5px;
    color: red;
}